@charset "UTF-8";

.elementExample {
    line-height: 200px;
    text-align: center;/*centraliza o texto verticalmente*/
    color: #fff;
    cursor: pointer;
    width: 200px;
    height: 200px;
}

.elementExample_first {
    background-color: #8a2be2;
    position: relative;/*Permite o uso das proproedades: left, right, top e botton, z-index*/
    top: 200px
}

.elementExample_last  {
    background-color: #0000ff;
    position: relative; 
}

.elementExample_isActive {
    z-index: 1;/*manipula o eixo z*/
}